{% extends "user_profile_base.html" %}
{% load i18n baseurl %}
{% load uni_form_tags %}

{% block title %}
{{ block.super }} » {% trans "Articles" %} » {{ article.title }} » {% trans "Fix" %}
{% endblock %}

{% block bodyclass %}articles{% endblock %}

{% block breadcrumb_content %}
    {{ block.super }} » {% trans "Articles" %} » {{ article.title }} » {% trans "Fix" %}
{% endblock %}

{% block content %}
<div id="request_block">
  <!-- <h2>{{ article.title }}</h2> -->
  {% if no_match %}
  
  {% blocktrans %}
  <p>No matches were found.</p>
  {% endblocktrans %}
  
  {% else %}
  {% blocktrans %}
  <p>Sometimes the Wikipedia articles have leftover junk when they are extracted from Wikipedia. Please use the form below to fix the sentences.</p>
  
  <p>Each sentence should be on a separate line. To distinguish between paragraphs, leave one blank space between the sentences.</p>
  {% endblocktrans %}
  
  <form method="POST" action="">
	<!--<fieldset class="inlineLabels">-->
	<div class="fulltext">
	  {{ fix_form|as_uni_form }}
	</div>
	  {% include "uni_form/uni_form.html" %}
	<br />
	<input type="submit" value='{% trans "Submit Changes" %}'/>
	<!--</fieldset>-->
  </form>
  {% endif %}
</div>
{% endblock %}