<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html  PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:py="http://purl.org/kid/ns#" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Pootle Page</title>
  <!--[if lt IE 7.]>
    <script defer type="text/javascript" src="/js/correctpng.js"></script>
  <![endif]-->
</head>
<body>
  <div id="banner">
    <table cellpadding="0" width="100%" border="0" cellspacing="0">
      <tr>
        <td rowspan="1" colspan="1" align="left" width="${logo_width}" valign="top" type="td">
          <img src="/images/${logo_image}" type="button" height="${logo_height}" width="${logo_width}" alt="${logo_alttext}" style="padding-top:5px;" />
        </td>

        <td colspan="1" rowspan="1" type="td" width="5">
          <img src="/images/gap.png" height="5" type="button" width="5" alt="" />
        </td>

        <td colspan="1" rowspan="1" type="td" width="100%">
          <table cellspacing="0" height="${banner_height}" width="100%" cellpadding="0" border="0" class="header">
            <tr>
              <td colspan="1" align="center" rowspan="1" type="td" valign="middle">
                 <img src="/images/WordForge-white.png" height="${banner_height}" type="button" width="${banner_width}" alt="${banner_alttext}" style="padding-top:5px;"/>
              </td>
            </tr>

            <tr>
              <td rowspan="1" colspan="1" align="right" valign="middle" type="td" class="border_top"/>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>

  <div id="links">
    <div class="sidetitle" py:content="instancetitle">
      Pootle
    </div>

    <div class="side">
      <a href="/" py:content="links.home">Home</a> 
      | <a href="/projects/" py:content="links.projects">All Projects</a> 
      | <a href="/languages/" py:content="links.languages">All Languages</a> 
      <span py:if="session.isopen"> | <a href="/home/" py:content="links.account">My account</a> </span> 
      <span py:if="session.issiteadmin"> | <a href="/admin/" py:content="links.admin">Admin</a> </span>
      | <a href="/doc/index.html" py:content="links.doc">Docs &amp; Help</a>
    </div>

    <div class="side">
      <img src="/images/person.png" type="button" class="icon" alt="" />
      <span py:content="XML(session.status)">logged in as <b>somebody</b></span>
    </div>

    <div class="side" py:if="session.isopen">
      <a href="/?islogout=1" py:content="links.logout">Log Out</a>
    </div>
    <div class="side" py:if="not session.isopen">
      <a href="/login.html" py:content="links.login">Log In</a> | 
      <a href="/register.html" py:content="links.register">Register</a> | 
      <a href="/activate.html" py:content="links.activate">Activate</a>
    </div>

    <div py:if="search" class="sidetitle" py:content="search.title">
      Search
    </div>

    <form py:if="search" action="translate.html" method="post" name="searchform" id="searchform">
      <input type="text" name="searchtext" value="" />
    </form>

  </div>
</body>
</html>

